@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.App {
  font-family: 'Zilla Slab', serif !important;
}

.home {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Zilla Slab', serif !important;
}

.bgColor1 {
  background-color: #0072A8 !important;
}

.logo {
  margin: 20px !important;
  width: 90px;
}

.circleDivider {
  width: 14px !important;
  height: 14px !important;
  background-color: #8CC63F !important;
  margin: 0 10px !important;
  border-radius: 100%;
  display: inline-block;
}

.textColor1 {
  color: #153871;
}
.navHover {
  text-decoration: none;
  color: #0072A8;
  font-weight: 600 !important;
}
.navHover:hover {
  border-bottom: 5px solid #0072A8;
}